[submodule "qmk_firmware"]
	path = qmk_firmware
	url = https://github.com/qmk/qmk_firmware.git
	branch = master
[submodule "qmk-config-totem"]
	path = qmk-config-totem
	url = https://github.com/patrick-elmquist/qmk-config-totem.git
	branch = main
